thead{
    text-align: left;
}

table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border: 3px solid chartreuse;
    border-collapse: collapse;
}

th, td{
    border: 1px solid chartreuse;
    border-collapse: collapse;
    padding-left: 1vh;
    padding-right: 1vh;
}

td a{
    cursor:pointer;
}

@media only screen and (max-width:550px){
    .mobileno{
        display:none;
    }
}