thead{
    text-align: left;
}

table, th, td{
    border: 1px solid chartreuse;
    border-collapse: collapse;
    padding-left: 1vh;
    padding-right: 1vh;
}

td a{
    cursor:pointer;
}

@media only screen and (max-width:768px){
    .mobileno{
        display:none;
    }
}