html{
    height: 100%;
}

body{
    background-image: linear-gradient( to bottom left, violet, blue);
    background-attachment: fixed;
}

header{
    font-family:"Oswald";
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    display:inline-block;
    width:50%;
}

#options{
    list-style-type: none;
    width:50%;
    float:right;
    padding:0px;
    font-weight: bold;
}

.sidebar{
    float:right;
    padding:3vh;
}

#main{
    font-family:"Oswald";
    margin-left:10%;
    margin-right:10%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.3);
}

a{
    color:chartreuse;
    text-decoration: none;
}

a:hover{
    color:orange;
}