.forms{
    display: inline-block;
    width:49%;
}

label{
    padding-right:10%;
    font-size:18px;
}

input{
    background-color: white;
    padding:1vh;
    border: 0;
    margin:1em;
}

input:hover{
    background-color: lightgray;
    border:0;
}

input:focus{
    background-color: lightgray;
    outline:0;
}

input[type="submit"]
{
    padding:1ex;
    font-size: 16px;
    padding-left:2em;
    padding-right:2em;
    margin:0;
    margin-top:1em;
}