.organiser{
    width:100%;
}

@media only screen and (min-width:500px){
    .organiser{
        display:block;
        width:51%;
    }
    
    .organiser:nth-child(even){
        margin-left: 51%;
    }
    .placeholder{
        display:inline-block;
        width:40%;
    }
}

@media only screen and (min-width:760px) and (max-width:1024px){
    .placeholder{
        display:block;
    }
}

.logo{
    height: 5em;
    display:block;
    margin-top:2em;
    margin-bottom:2em;
    margin-left:auto;
    margin-right:auto;
    border:5px solid white;
}

ul{
    display:inline-block;
    list-style-type:none;
    font-weight: bold;
    padding-left:0px;
}