.organiser{
    width:100%;
}

@media only screen and (min-width:430px){
    .organiser{
        display:block;
        width:51%;
    }
    
    .organiser:nth-child(odd){
        margin-left: 51%;
    }
}

.logo{
    width: 10em;
    display:inline-block;
    margin-top:2em;
    margin-bottom:2em;
    margin-right:2em;
    border:5px solid white;
}

ul{
    display:inline-block;
    list-style-type:none;
    font-weight: bold;
    padding-left:0px;
}