.organiser1{
    width:51%;
    float:left;
}

.organiser2{
    width:51%;
    float:right;
}

.logo{
    width: 10em;
    display:inline-block;
    margin-top:2em;
    margin-bottom:2em;
    margin-right:2em;
}

ul{
    display:inline-block;
    list-style-type:none;
    font-weight: bold;
    padding-left:0px;
}