#imagediv{
    width:40%;
    display:inline-block;
    overflow:hidden;
}

#text{
    margin-left:5%;
    width:50%;
    display:inline-block;
}

table, td, th{
    margin-left:auto;
    margin-right:auto;
    border: 3px solid gold;
    border-collapse: collapse;
    padding-left:3vh;
    padding-right:3vh;
    padding-top:1vh;
    padding-bottom:1vh;
    text-align: center;
}

img{
    display:block;
    height:12em;
    margin-left: auto;
    margin-right: auto;
}

#festtable{
    display:none;
}

@media only screen and (max-width:768px){
    img{
        display:block;
        height:7em;
        margin-left:auto;
        margin-right:auto;
    }
    #imagediv{
        width:100%;
    }
    #text{
        width:100%;
        margin-left:0;
    }
    @media only screen and (max-width:550px){
        .mobileno{
            display:none;
        }
    }
}